<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%=
      form.text_field(
        :name,
        class: class_names('form-control' => true, 'is-invalid': game.errors[:name].any?),
        required: false
      )
    %>
  </div>

  <div class="form-group">
    <%= form.label :platform_ids %>
    <%=
      form.select(
        :platform_ids,
        Platform.all.pluck(:name, :id),
        {},
        multiple: true,
        class: class_names('form-control' => true, 'is-invalid': game.errors[:platforms].any?)
      )
    %>
  </div>

  <%= form.submit(class: 'btn btn-primary') %>
<% end %>
