<p id="notice"><%= notice %></p>

<h1>Games</h1>

<%= search_form_for @q do |f| %>
  <%= f.label :name_cont %>
  <%= f.search_field :name_cont %>

  <%= f.label :platform %>
  <%= f.collection_select :platforms_id_eq, Platform.all, :id, :name, include_blank: true %>

  <%= f.submit %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Platforms</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.name %></td>
        <td><%= game.platforms.pluck(:name).join(', ') %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
