<h1><%= @game.name %></h1>

<p>
  <strong>Platforms:</strong>

  <% @game.platforms.each do |platform| %>
    <%= platform_badge(platform) %>
  <% end %>
</p>

<p>
  <strong>Reviews:</strong>

  <% if @game.reviews.empty? %>
    <em>None</em>
  <% else %>
    <ul>
      <% @other_reviews.each do |review| %>
        <li>
          <%= score_icon(review.score) %>
          <%= review.body %>
          <em><%= review.user.username %></em>
        </li>
      <% end %>
    </ul>
  <% end %>
</p>

<p>
  <%= render partial: 'reviews/add_or_create', locals: { review: @own_review } %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %>
<%= link_to 'Back', games_path %>
