<h1><%= @game.name %></h1>

<p>
  <strong>Platforms:</strong>

  <% @game.platforms.each do |platform| %>
    <%= platform_badge(platform) %>
  <% end %>
</p>

<p>
  <% if @game.reviews.empty? %>
    <em>None</em>
  <% else %>
    <% @other_reviews.each do |review| %>
      <div class="row bg-light text-dark mb-2 p-2 rounded">
        <div class="col-1">
          <div><%= score_icon(review.score) || '-' %></div>
          <em><%= review.user.username %></em>
        </div>

        <div class="col">
          <p><%= review.body %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</p>

<p>
  <%= render partial: 'reviews/add_or_create', locals: { review: @own_review } %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %>
<%= link_to 'Back', games_path %>
