<%= form_with model: review do |f| %>
  <div class="form-group">
    <%= f.label 'My review' %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>

  <%= f.label 'Score' %>
  <%= f.collection_radio_buttons :score, [-1, 0, 1, 2], :to_i, :to_s do |b| %>
    <div class="form-check">
      <%= b.radio_button(class: 'form-check-input') + b.label(class: 'form-check-label') %>
    </div>
  <% end %>

  <%= f.hidden_field :game_id %>
  <%= f.submit('Save review', class: 'btn btn-primary') %>
<% end %>
